.footer-container {
  padding: 20px;
}

.social-links {
  padding: 10px;
}

.copyright {
  font-size: 16px;
  margin-top: 10px;
  img {
    height: 18px;
    margin: 4px 4px -4px 4px;
  }
}

.star {
  font-size: 12px;
  text-align: right;
  margin-top: 20px;
}
