@import "../../CommonStyles/variables.scss";

.footer-container {
  padding: 20px;
}

.social-links {
  padding: 10px;
}

.copyright {
  font-size: $appFontSizeLarge;
  margin-top: 10px;
  img {
    height: 18px;
    margin: 4px 4px -4px 4px;
  }
}

.star {
  font-size: $appFontSizeSmall;
  text-align: right;
  margin-top: 20px;
}
